<hr>
<div class="container  m-5 text center">
     <h1>
        Borrar Tarea!
     </h1>
</div>
<hr class="mb-4">

<div class="container ">


    
    </div>
  </div>
    <form method="POST" action="/delete/{{ result._id }}?_method=DELETE" method="delete">
        {{ result._id }}
        {{ result.autor }}
        {{ result.titulo }}
        {{ result.descripcion }} 
        {{ result.nivel }}
       
     
        
  
  <div class="w-50 text center m-4">
    <button class="btn btn-primary" type="submit">ELIMINAR TAREA</button>
  </div>
</form>

    </form>
</div>

</div>